<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.branden.findkingtutstreasuregame">

    <supports-screens
        android:largeScreens="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true">
    </supports-screens>

    <application
        android:allowBackup="true"
        android:icon="@drawable/treasure"
        android:label="@string/find_king_tut_s_treasure"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CharacterCreation" />
        <activity android:name=".MainGame" />
        <activity android:name=".Inventory" />
        <activity android:name=".playerWins" />
        <activity android:name=".Stats"></activity>
    </application>

</manifest>